<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>928520057801-9mok022aoe8da7mv10582elc50bvacn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928520057801-9mok022aoe8da7mv10582elc50bvacn0</string>
	<key>API_KEY</key>
	<string>AIzaSyDb2lu4xh9LwJqnKEymb0pj9U1w1SCch7M</string>
	<key>GCM_SENDER_ID</key>
	<string>928520057801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.basicdas.firebase-chat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-e408c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-e408c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928520057801:ios:0c5ede346359546f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-e408c.firebaseio.com</string>
</dict>
</plist>